ChangeLog
Lunar.pot
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
intltool-*
libtool
ltmain.sh
mkinstalldirs
missing
stamp-h1
.*.swp
[Tt]hunar-*.tar.bz2
[Tt]hunar-*.tar.gz
core.*
core
*.core
*.desktop
*.desktop.in
*.service
*.policy
com.expidus.lunar.appdata.xml
lunar.appdata.xml
gtk-doc.make
Lunar.spec
docs/.*.swp
docs/*.1
docs/design/.*.swp
docs/manual/.*.swp
docs/manual/*/.*.swp
docs/manual/*/Lunar.xml
docs/manual/*/html
docs/manual/*/*.stamp
docs/manual/*/images/.*.swp
docs/papers/.*.swp
docs/reference/.*.swp
docs/reference/lunarx/xml
docs/reference/lunarx/html
docs/reference/lunarx/*.stamp
docs/reference/lunarx/.*.swp
docs/reference/lunarx/*.bak
docs/reference/lunarx/lunarx-decl-list.txt
docs/reference/lunarx/lunarx-decl.txt
docs/reference/lunarx/lunarx-overrides.txt
docs/reference/lunarx/lunarx-undeclared.txt
docs/reference/lunarx/lunarx-undocumented.txt
docs/reference/lunarx/lunarx-unused.txt
docs/reference/lunarx/lunarx.args
docs/reference/lunarx/lunarx.hierarchy
docs/reference/lunarx/lunarx.interfaces
docs/reference/lunarx/lunarx.prerequisites
docs/reference/lunarx/lunarx.signals
docs/reference/lunarx/version.xml
docs/reference/lunarx/tmpl/*.bak
docs/reference/lunarx/tmpl/.*.swp
docs/reference/lunarx/tmpl/lunarx-unused.sgml
examples/.*.swp
examples/tex-open-terminal/.*.swp
icons/.*.swp
icons/16x16/.*.swp
icons/24x24/.*.swp
icons/48x48/.*.swp
icons/scalable/.*.swp
pixmaps/.*.swp
plugins/.*.swp
plugins/lunar-apr/.*.swp
plugins/lunar-sbr/.*.swp
plugins/lunar-sendto-email/lunar-sendto-email
plugins/lunar-sendto-email/lunar-sendto-email.desktop
plugins/lunar-sendto-email/.*.swp
plugins/lunar-tpa/lunar-tpa-bindings.*
plugins/lunar-tpa/lunar-tpa.desktop
plugins/lunar-tpa/lunar-tpa.desktop.in
plugins/lunar-tpa/.*.swp
plugins/lunar-tpa/lunar-tpa
plugins/lunar-uca/.*.swp
plugins/lunar-uca/uca.xml
plugins/lunar-uca/lunar-uca.gresource.c
po-doc/.*.swp
po-doc/.xml2po.mo
po/Makefile.in.in
po/.*.swp
po/*.gmo
po/*.mo
po/POTFILES
po/.intltool-merge-cache*
po/stamp-*
tests/*.loT
tests/.*.swp
tests/core.*
tests/*.core
tests/data/.*.swp
lunar/*.loT
lunar/.*.swp
lunar/lunar
lunar/lunar-dbus-freedesktop-interfaces.[ch]
lunar/lunar-dbus-service-infos.[ch]
lunar/lunar-fallback-icon.c
lunar/lunar-thumbnail-cache-proxy.[ch]
lunar/lunar-thumbnail-frame.c
lunar/lunar-thumbnailer-manager-proxy.h
lunar/lunar-thumbnailer-proxy.[ch]
lunar/lunar-marshal.[ch]
lunar/lunar-resources.[ch]
lunar/Lunar
lunar/core.*
lunar/*.core
lunar/lunar-*-ui.h
lunar/stamp-lunar-*.*
lunarx/.*.swp
lunarx/*.pc
lunarx/*.gir
lunarx/*.typelib
lunarx/lunarx-alias*.[ch]
lunarx/lunarx-config.h
*.o
*.lo
*.la
.libs
.deps
lunar-vfs
config.h.in~
configure.ac
gtk-doc.m4
test-driver
m4/*
!m4/introspection.m4
